		* {
			margin: 0;
			padding: 0;
		}
		.mute{
			background:url('../images/mute2.png');
			background-position:10px 0px;
		}
		.play{
			background:url('../images/mute2.png');
			background-position:60px 0px;
		}
		.loading{
			position:absolute; left: 0 ;
			right :0 ;
			z-index:10;
			background:url('../images/cover.png') #7DFFF7 no-repeat
		}
		#playbt {
			position:absolute; 
		}
		#loadImg {
			background:url('../images/ajax-loader.gif') ; width:55px ;height:54px
		}
		#playBtnContainer{
			display:none;
		}
		.playBtn{
			background-color:red; color:white; padding:4px 20px; font-size:20px;cursor:pointer
		}
		#timeCanvas{
			background:url('../images/bomb.png'); margin-right: 40px; float:left;
		}
		#testCanvas{
			background:url('../images/waves.jpg');float:left;
		}
		#music{
			width:50px; height:45px; float:left; cursor:pointer
		}
		#mask {
			background-color:black; z-index :12 ; position : absolute ; left : 0; top : 0; opacity : 0.8; display:none;
		}
		#howToPlay{
			position : absolute ; left : 0; z-index :14 ;
		}
		
		
		.rslides {
		  position: relative;
		  list-style: none;
		  overflow: hidden;
		  width: 100%;
		  padding: 0;
		  margin: 0;
		  }

		.rslides li {
		  -webkit-backface-visibility: hidden;
		  position: absolute;
		  display: none;
		  width: 100%;
		  left: 0;
		  top: 0;
		  }

		.rslides li:first-child {
		  position: relative;
		  display: block;
		  float: left;
		  }

		.rslides img {
		  display: block;
		  height: auto;
		  float: left;
		  width: 100%;
		  border: 0;
		  }
		  
		  .centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }